* {
    box-sizing: border-box;
    background-color: #303741;
}


body {
    font-family: sans-serif; 
    color: #AEFFE7;
}


nav {
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: lightgray;
    border: 1px black solid;
    margin-bottom: 35px;
    background-color: #C9ADB1;
}

a {
    color: #BFE8D7;
}

.statement {
    height: 100%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0; 
    font-family: 'Merriweather', serif;
}


.menu {
    margin-right: 85px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #C9ADB1;
}


.menu li {
    margin-right: 15px;
    display: inline;
    padding-right: 20px;
    background-color: #C9ADB1;

}


.menu li a {
    background-color: #C9ADB1;
}

.hamburger {
    display: none;
    background-color: #C9ADB1;
}

.hamburgerMenu {
    background-color: #C9ADB1;
}

.hamburgerMenu li, .hamburgerMenu li a {
    background-color: #C9ADB1;
}

.menuShow {
    margin-top: 75px;
    justify-content: flex-end;
}

.aboutMe {
    width: 100%;
    height: 500px;
    font-family: sans-serif;
    text-align: left;
    line-height: 27px;
    font-size: 18px;
    margin-bottom: 50px;
}


.container {
    width: 40%;
    display: inline-block; 
    margin-left: 110px; 
}

.paragraph {
    width: 100%;
    margin-left: 35px;
}


.profile {
    width: 300px;
    height: 400px;
    float: right;
    margin-right: 250px;
    margin-top: 35px;
}

.pageLink {
    color: black;
    text-decoration: none;
}


.projectPreview {
    width: 50%;
    height: 35%;
    margin: auto auto;
    margin-top: 30px;
    text-align: center;     
}

.previewPicture {
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}


#theOffice {
    margin: auto auto;
    width: 50%;
    height: 500px;    
    text-align: center;
    overflow: auto;
}


.theOfficeCarousel {
    overflow: hidden;
}

.theOfficeCarousel img {
    display: none;
}


.theOfficeCarousel img.active {
    display: inline-block;
}


.prev {
    float: left;
    margin-top: 130px;
    cursor: pointer;
}


.next {
    float: right;
    margin-top: 130px;
    cursor: pointer;
    
}

.portfolio {
    width: 100%;
    height: 75%;
}


.projectLinks {
    display: block;
}


#contact {
    margin: auto auto;
    text-align: center;
    font-size: 24px;
}

.logo {
    height: 22px;
    width: 24px;
}



@media screen and (max-width: 1150px) {
    .projectPreview {
        float: right;
        width: 47%
    }
}

@media screen and (max-width: 1000px) {
    .profile {
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width: 800px) {
    .profile {
        width: 150px;
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .menu {
        display: none;
    }

    .hide {
        display: none;
    }

    .hamburger {
        display: inline;
        margin-right: 15px;
        color:black;
    }
    
    .hamburger:hover {
        cursor: pointer;
    }


.profile {
    width: 100px;
    height: 200px;
    }
}

@media screen and (max-width: 500px) {
    .aboutMe {
        width: 100%;
        height: 400px;
        margin-right: auto;
    }

    .container {
        width: 40%;

        display: inline-block;  
    }

    
    .profile {
        width: 75px;
        height: 75px;
        float: right;
    }

    .projectPreview {
        flex-shrink: .5;
    }
}






