* {
    box-sizing: border-box;
    background-color: #303741;
}


body {
    font: sans-serif; 
    color: #AEFFE7;
}


nav {
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: lightgray;
    border: 1px black solid;
    margin-bottom: 35px;
    background-color: #C9ADB1;
}

a {
    color: #BFE8D7;
}

.statement {
    height: 100%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0; 
    font-family: 'Merriweather', serif;
}


.menu {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #C9ADB1;
}


.menu li {
    display: inline;
    padding-right: 20px;
    background-color: #C9ADB1;

}


.menu li a {
    background-color: #C9ADB1;
}

.hamburger {
    display: none;
    background-color: #C9ADB1;

}


.aboutMe {
    width: 100%;
    height: 500px;
    font-family: sans-serif;
    text-align: left;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 50px;
}


.container {
    width: 40%;
    display: inline-block;  
}

.paragraph {
    width: 100%;
    margin-left: 35px;
}


.profile {
    width: 175px;
    height: 150px;
    float: right;
    margin-right: 50px;
}

.pageLink {
    color: black;
    text-decoration: none;
}


.projectPreview {
    width: 50%;
    height: 35%;
    margin: auto auto;
    margin-top: 30px;
}

.previewPicture {
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}


#theOffice {
    margin: auto auto;
    width: 50%;
    height: 500px;    
    text-align: center;
}

.portfolio {
    width: 100%;
    height: 75%;
}


.projectLinks {
    display: block;
}


#contact {
    margin: auto auto;
    text-align: center;
    font-size: 24px;
}

.logo {
    height: 22px;
    width: 24px;
}


@media screen and (max-width: 500px) {
    .aboutMe {
        width: 100%;
        height: 400px;
        margin-right: auto;
        border: 1px solid black;
    }


    .menu {
        display: none;
    }


    .hamburger {
        display: inline;
    }
    
    
    .profile {
        width: 150px;
        height: 150px;
        float: right;
    }

}






